<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">

    <title>Invoice | RYD Learning</title>

    <!-- template css -->
    <link rel="stylesheet" href="/stylesheets/cassie.css">

    <script>
        function strCheck(m){

        }
    </script>
</head>

<body class="page-error">

<div class="error-panel">
    <a href="" class="sidebar-logo mg-b-40"><span style="color: purple">RYD Learning | Error</span></a>

    <h1 class="tx-28 tx-sm-36 tx-numeric tx-md-40 tx-semibold">Oops !</h1>
    <h4 class="tx-16 tx-sm-18 tx-md-24 tx-light mg-b-20 mg-md-b-30"><%= (typeof msg !="undefined"?msg:"Something went wrong internally, Please reload") %></h4>
    <p class="tx-12 tx-sm-13 tx-md-14 tx-color-04">If this problem persists after reloading the page, please contact administrator.</p>

    <a href="">Try Reload</a>
</div><!-- error-panel -->
</body>
