<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">

    <title>Invoice | RYD Learning</title>

    <!-- template css -->
    <link rel="stylesheet" href="/stylesheets/cassie.css">

</head>

<body class="page-error">

<div class="error-panel">
    <a href="" class="sidebar-logo mg-b-40"><span style="color: purple">RYD Learning | Program</span></a>
    <h4 class="tx-16 tx-sm-18 tx-md-24 tx-light mg-b-20 mg-md-b-30"><%=(status)%></h4>
    <p style="width: 50%" class="tx-12 tx-sm-13 tx-md-14 tx-color-04"><%=(!paid?'We regret to inform you that there was an issue processing your payment for our programs. Please double-check your payment details and try again.':info)%></p>

    <a href="https://rydlearning.com">Go to homepage</a>
</div><!-- error-panel -->

</body>
